//Colors
$color-primary-light: #FFA7C3;
$color-primary-dark: #F74780;

$color-secondary-light: #666CA3;
$color-secondary-dark: #13183F;

$color-white: #FFFFFF;
$color-grey: #83869A;


$color-gradient-one: #FF6F48;
$color-gradient-two: #F02AA6;
$color-gradient-three: #4851FF;
$color-gradient-four: #F0F1FF;

//Font
$default-font-size: 1.6rem;