body {
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    padding: 3rem 25rem;
    color: $color-grey
}

.heading-primary {
    color: $color-secondary-dark;
    font-weight: 700;
    font-size: 5.6rem;
}

.heading-secondary {
    color: $color-white;
    font-weight: 800;
    font-size: 3.5rem;
    line-height: 5rem;

}

.heading-tertiary {

}

.paragraph {
    font-size: 1.8rem;
    line-height: 2.8rem;
}